<!DOCTYPE html>
<html>
  <head>
    <title>GraphiQL</title>
    <%= stylesheet_link_tag("graphiql/rails/application") %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="graphiql-container">
      Loading...
    </div>
    <%= javascript_include_tag("graphiql/rails/application") %>
  </body>
</html>
